<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body{
        padding-top: 50px;
      }
      nav{
        background-color: #000;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
      nav a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
      }
      .container{
        width: 100%;
        max-width: 960px;
        margin: auto;
        position: relative;
        border: 3px solid #aaa;
      }
      .container p{
        margin-bottom: 2em;
      }
      .container .ad{
        background-color: red;
        opacity: .6;
        padding: 20px 20px;
        position: fixed;
        left: 0;
        bottom: 0;
      }
      .container .ad .close_ad{
        background-color: rgb(0, 255, 179);
        font-size: 10px;
        padding: 5px 5px;
        position: absolute;
        right: -3px;
        top: -3px;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="#">Mylink</a>
      <a href="#">Mylink</a>
      <a href="#">Mylink</a>
      <a href="#">Mylink</a>
      <a href="#">Mylink</a>
      <a href="#">Mylink</a>
    </nav>

    <div class="container">
      <div class="ad">
        This is AD
        <div class="close_ad">X</div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores provident repudiandae et quia. Illum laboriosam, obcaecati molestiae labore blanditiis unde? Necessitatibus, quam ipsum veritatis perspiciatis similique atque tenetur dicta corrupti.</p>
      <p>Ullam quasi soluta minima! Voluptates molestiae ratione dolor doloremque, odit sunt cupiditate nulla doloribus dolorum perferendis debitis excepturi esse optio eos quod dicta sint aliquam quae cumque, nobis repudiandae non?</p>
      <p>Facere mollitia quaerat nisi et deserunt harum consequatur, sint ducimus officia, illum possimus quis similique perspiciatis reiciendis consectetur quidem commodi dolorem dicta minima? Modi unde quam eveniet. Saepe, doloribus ipsa?</p>
      <p>Dolore facilis doloremque et quaerat eum illum aliquam quis, voluptate nam ipsum itaque libero quam repellat quas hic molestias officiis dignissimos enim vero expedita labore! Dolores nihil voluptate a optio.</p>
      <p>Atque omnis, provident optio aliquid nihil impedit ex praesentium autem tempore aut! Quo magnam dolor doloremque debitis nam perspiciatis. Pariatur suscipit itaque earum aut error non natus molestias eos sed.</p>
      <p>Nesciunt facere exercitationem aliquam id tempore perspiciatis sed praesentium quo debitis porro beatae cupiditate harum, repudiandae consequuntur ab aut iste, illum impedit nulla excepturi. Quae cum sequi vel nihil ratione.</p>
      <p>Architecto laboriosam alias veniam adipisci quo nostrum. Ut sapiente officiis quia excepturi eos nulla iusto, dignissimos, tenetur, distinctio aspernatur natus ducimus praesentium. Ullam maiores ea voluptates fuga. Odit, repudiandae rem!</p>
      <p>Eius dicta, repudiandae eveniet reiciendis beatae, dolores dolor sequi minus, ad illo cupiditate dolorum officia ab eaque consequuntur impedit. Earum temporibus sed doloremque assumenda repudiandae non eius maxime ex esse.</p>
      <p>Inventore asperiores consectetur perspiciatis laboriosam natus aliquam ipsum reiciendis. Consequuntur, totam exercitationem iste ad sed, temporibus a repellendus adipisci quis vero omnis voluptatum dolore ex! Quia saepe odit cumque hic!</p>
      <p>Sunt eos, delectus illo ipsam vitae quidem dicta autem deleniti accusantium omnis hic assumenda perferendis eveniet quos, saepe error fugiat nesciunt qui modi quisquam provident aperiam facilis ipsum. A, eligendi?</p>
      <p>Tenetur ut porro quod voluptatibus minus necessitatibus, molestias nesciunt temporibus saepe laboriosam tempore nisi cumque animi nobis harum architecto provident pariatur. Dolores sequi sunt iure architecto, velit repellendus blanditiis. Repellendus.</p>
      <p>Explicabo impedit rem quae libero provident tempora, nobis eos id aliquid corrupti blanditiis non, asperiores placeat, reiciendis inventore dolor pariatur nesciunt doloribus error! Labore libero distinctio id tempora repellendus sequi.</p>
      <p>Aperiam totam architecto molestiae, veritatis harum ab quis optio illo eos sit saepe magni omnis necessitatibus, reiciendis nihil sint repellat neque ea ipsam! Aut numquam nisi recusandae officia quidem ratione.</p>
      <p>Animi voluptate delectus veritatis harum dolor provident blanditiis in, fuga consequuntur, temporibus sunt! Nobis quas enim quibusdam maxime laudantium eius odit, ut magnam sunt modi dignissimos aperiam, nemo architecto atque.</p>
      <p>Sit esse eveniet debitis tempora illo, mollitia quasi recusandae quas aut repudiandae numquam voluptatibus explicabo ipsa nam perferendis earum laborum accusantium iste alias nulla dolore doloribus aspernatur. Quia, aut. Possimus.</p>
      <p>Id modi, cum optio vero dolor ut hic ducimus? Praesentium, voluptatem. Expedita deleniti, quaerat recusandae explicabo dolore modi, dolorem corporis et eum tempora debitis obcaecati. Alias ut possimus sed explicabo.</p>
      <p>Minima praesentium numquam porro quae esse optio ea reiciendis sit facilis placeat error, velit odio nam itaque dicta quam enim, temporibus deleniti tempore provident minus aspernatur tenetur iusto! Rem, ad.</p>
      <p>Sit praesentium consequuntur culpa voluptas dolor, nihil inventore temporibus, laudantium, illum aliquid ut eveniet itaque qui veniam ipsa. Deleniti cupiditate earum, recusandae dolores vel omnis repellendus doloribus? Quidem, consequuntur corporis?</p>
      <p>Earum, nam ea repudiandae in voluptatem dignissimos tenetur a, voluptates animi pariatur sed. Tempora aut dolores molestias voluptatibus. Ducimus eius officiis fuga sint id dolores rem. Expedita quos repellendus cumque.</p>
      <p>Voluptate sapiente ut illo adipisci vero distinctio ipsum ducimus! Expedita corporis consequuntur totam repudiandae ut maxime consequatur debitis nesciunt obcaecati, autem praesentium voluptatem, temporibus, porro recusandae aperiam quibusdam deleniti quas!</p>
      <p>Placeat ducimus eius ut cumque doloremque voluptatibus minima, quam optio aperiam praesentium quod deserunt nam, sunt dolorem at est officia enim tempore. Assumenda illo fuga culpa dicta inventore iusto vitae!</p>
      <p>Libero iure maxime tempora optio facilis! Saepe accusantium odio optio corrupti suscipit nihil natus totam iste, voluptatibus veniam rem deserunt esse in vero vitae dolorum facilis explicabo quidem ipsa nesciunt.</p>
      <p>Dignissimos, alias, odit rerum magni repudiandae distinctio odio consequatur, officiis reprehenderit et aspernatur! Corporis vero dolorem magnam, commodi dignissimos possimus ipsa quod ducimus nam dolorum consequuntur laudantium ea? Odit, suscipit!</p>
      <p>Voluptas voluptate autem odio cumque quasi tenetur recusandae, aspernatur voluptates culpa magni nemo ipsa. Natus, saepe molestias temporibus ipsum earum tenetur libero repellendus fugit, vitae quia est eos aspernatur culpa?</p>
      <p>Obcaecati aliquid facilis laudantium quasi maiores, incidunt totam ullam quidem officiis tempora placeat consectetur perspiciatis, vel animi quas optio accusamus, nesciunt autem quos doloremque officia quibusdam ipsa asperiores at? Quisquam?</p>
      <p>Aliquam necessitatibus quisquam quae rerum non sit aspernatur porro! Itaque excepturi minus, a maiores porro autem? Natus pariatur fugit repellat recusandae doloribus error nemo quod quaerat adipisci. Qui, sed repellat.</p>
      <p>Ex itaque placeat suscipit, earum reiciendis asperiores dicta ipsum quibusdam. Quas totam natus dicta aliquam expedita, adipisci, nulla molestias vitae maxime similique placeat pariatur eius, iste delectus iure autem. Quos.</p>
      <p>Odio blanditiis, eius assumenda ea tenetur ipsa alias explicabo id dolores odit maiores velit? Velit assumenda neque perspiciatis consequuntur, ex autem similique magnam esse dicta adipisci illum nostrum et iste.</p>
      <p>Beatae aliquid necessitatibus quos distinctio eius voluptate earum ducimus. Ullam rerum repellendus eius perferendis nostrum odit quidem, laboriosam magni, iusto animi culpa doloremque facilis sunt est itaque nam expedita labore.</p>
      <p>Maxime at quam hic. Nostrum fugiat veniam neque dolore voluptatem quia alias necessitatibus odit culpa earum consequuntur recusandae hic quod asperiores in minima aliquam cum, blanditiis vel cupiditate ipsam laborum!</p>
    </div>
  </body>
</html>
