<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .container {
        width: 1200px;
        background-color: #ccc;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <h3> Save sets</h3>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                  Save
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for data in datas %}
                  <a class="dropdown-item file_name" href="#">{{data}}</a>
                  {% endfor %}
                </div>
            </div>
          </div>
          <div class="row">
            <h3>Build</h3>
            <button class="btn btn-warning b1" value="b1">b1</button>
            <button class="btn btn-secondary b1" value="b2">b2</button>
            <button class="btn btn-secondary b2" value="b1">b3</button>
            <button class="btn btn-secondary b2" value="b2">b4</button>
          </div>
          <div class="row">
            <h3>Calculated Stats</h3>
            <p>GG</p>
            <p>TT</p>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              <p>Hello2.1</p>
              <button class="btn btn-secondary b3" value="b2">b3</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Hello2.2</p>
              <button class="btn btn-secondary b4" value="b2">b4</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Hello2.3</p>
              <button class="btn btn-secondary b5" value="b2">b5</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          Hello3
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script>
      $(".file_name").click(function(){
        $("#dropdownMenuLink").text(this.text)

      })
      
      $(".b1").click(function(){
        alert('b1')
      })
    </script>
  </body>
</html>