<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <title>Document</title>
    <style>
        .wrap{
            /* width: 100%;
            max-width: 1200px; */
            display: flex;
            flex-direction: column;
            background-color: gray;
            /* margin: auto; */
            /* padding: 10px 10px; */
        }
    </style>
</head>
<body>
    <div class="wrap">
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aspernatur vel consectetur sit eos iste laudantium voluptatem quo hic assumenda.</p>
    </div>
</body>
</html>