<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='travel.jpg') }}">
    <title>旅遊大亨</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </head>
  <body>

    <h2> 旅遊大亨機率試算 </h2>
    <!-- <div class="container">
      <div class="row justify-content-around">
        <div class="col-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          One of two columns
        </div>
      </div>
    </div> -->
    <h4 id="title_a"> 角色機率試算 (1抽=?鑽) </h4>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">模擬?抽</span>
      </div>
      <input type="text" id="input_int_a" class="form-control" placeholder="請輸入1~10000整數" aria-label="請輸入整數" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" py-onClick="calculate_a()">開始模擬</button>
      </div>
    </div>

    <table class="table table-sm" id="table_a">
      <thead>
        <tr>
          <th scope="col" style="width:120px"></th>
          <th scope="col" style="width:70px">機率</th>
          <th scope="col" style="width:100px" id="output_a">0</th>
          <th scope="col" style="width:100px">全部換算</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">鑽石消耗</th>
          <td></td>
          <td id="diamond_a" bgcolor=#29FFF9>0</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">髮飾</th>
          <td>0.0</td>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">洋裝</th>
          <td>0.0</td>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">杖</th>
          <td>0.0</td>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">玫瑰</th>
          <td>0.0</td>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">玫瑰圈(5個換1個A+素材包)</th>
          <td>0.0</td>
          <td>0.0</td>
          <td></td>
        </tr>
      </tbody>
    </table>


    <h4 id="title_b"> 道具機率試算 (1抽=?鑽) </h4>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">模擬?抽</span>
      </div>
      <input type="text" id="input_int_b" class="form-control" placeholder="請輸入1~10000整數" aria-label="請輸入整數" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" py-onClick="calculate_b()">開始模擬</button>
      </div>
    </div>

    <table class="table table-sm" id="table_b">
      <thead>
        <tr>
          <th scope="col" style="width:120px"></th>
          <th scope="col" style="width:70px">機率</th>
          <th scope="col" style="width:200px" id="output_b">0</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">鑽石消耗</th>
          <td></td>
          <td id="diamond_b" bgcolor=#29FFF9>0</td>
        </tr>
        <tr>
          <th scope="row">A+修理箱</th>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">A+破碎道具</th>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
        <tr>
          <th scope="row">A修理道具</th>
          <td>0.0</td>
          <td bgcolor=#ff6347>0.0</td>
        </tr>
      </tbody>
    </table>
    

    <script>
      function my_alert(my_str) {
        alert(my_str);
      }
    </script>

    <py-script src="{{ url_for('static', filename='travel.py') }}">  </py-script>
  </body>
</html>